    <div class="container mt-5">
        <div class="col-md-6">
          <form method="post" action="/contact">
            <div class="mb-3">
                <label for="id" class="form-label" >ID Pegawai</label>
                <input type="number" class="form-control" id="idPegawai" name="id" value=<%= employeeData.id %>>
              </div>
            <div class="mb-3">
                <label for="nama_pegawai" class="form-label" >Nama Lengkap</label>
                <input type="text" class="form-control" id="inputNama" name="nama_pegawai" value=<%= employeeData.nama_pegawai %> required>
              </div>
              <div class="mb-3">
                <label for="job_level" class="form-label" >Jabatan</label>
                <input type="text" class="form-control" id="inputJabatan" name="job_level" value=<%= employeeData.job_level %> required>
              </div>
              <div class="mb-3">
                <label for="tanggal_lahir" class="form-label" >Tanggal Lahir</label>
                <input type="text" class="form-control" id="inputTanggalLahir" placeholder="dd/mm/yyy" name="tanggal_lahir" value=<%= employeeData.tanggal_lahir%> required>
              </div>
            <button type="submit" class="btn btn-primary ">Submit</button>
          </form>
        </div>
        </div> 